.footer {
	background-color: #495456;
	padding: 20px 40px;
	color: white;
}
.footer-left {
	flex: 0.4;
}
.footer-right {
	flex: 0.6;
	display: flex;
	gap: 20px;
}
.hover-link:hover {
	color: rgb(156, 173, 188);
	transition: 500ms;
	cursor: pointer;
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
	.footer {
		display: flex;
		flex-direction: column;
	}
	.footer-right {
		display: flex;
		flex-direction: column;
	}
	.resources-link {
		flex-wrap: wrap;
	}
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
	.footer-right {
		flex-direction: column;
	}
}
